.services-card {
  padding: 10px;
  text-align: center;
  background-color: transparent !important;
}

.services-title-header {
  text-align: center;
  padding: 20px;
}

.services-image {
  height: 150px;
}

.about-container {
  background-color: #363645;
  /* background-image: url("./images/bg1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  padding-top: 80px;
  padding-bottom: 120px;
  border-radius: 0% 0% 5% 5%;
}

.btn-download-cv {
  margin-top: 30px !important;
  color: white !important;
}

.socials-container {
  margin-top: 30px;
}

.btn-socials {
  color: #42a5f5 !important;
}

.btn-socials:hover {
  color: white !important;
  background-color: #42a5f5 !important;
}

.txt-name {
  font-weight: bold !important;
}

.about-txt-container {
  color: white;
}

/* .txt-position {
  color: #00e676;
} */
